@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 67% 98%;
    --foreground: 228 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 228 10% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 228 10% 20%;
    --primary: 229 79% 70%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 30% 94%;
    --secondary-foreground: 228 10% 20%;
    --muted: 228 30% 94%;
    --muted-foreground: 228 10% 45%;
    --accent: 260 100% 70%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 30% 90%;
    --input: 228 30% 90%;
    --ring: 229 79% 70%;
    --chart-1: 229 79% 70%;
    --chart-2: 260 100% 70%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 228 10% 20%;
    --sidebar-primary: 229 79% 70%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 228 67% 98%;
    --sidebar-accent-foreground: 228 10% 20%;
    --sidebar-border: 228 30% 90%;
    --sidebar-ring: 229 79% 70%;
  }

  .dark {
    --background: 228 10% 10%;
    --foreground: 0 0% 98%;
    --card: 228 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 228 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 229 79% 70%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 10% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 228 10% 17%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 260 100% 70%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 10% 17%;
    --input: 228 10% 17%;
    --ring: 229 79% 70%;
    --sidebar-background: 228 10% 12%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 229 79% 70%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 228 10% 17%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 228 10% 17%;
    --sidebar-ring: 229 79% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
